.catImg {
  background-color: rgb(228, 176, 6);
  margin: 5px;
  padding: 5px;
  width: 400px;
  height: 300px;
  flex: 30%;
  border-style: solid;
  border-radius: 25px;
  border-width: 5px;
  border-color: black;
}

.catBox {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: Logo-spin infinite 20s linear;
  }
}

@keyframes Logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}